<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="ChangeListManager">
    <list default="true" id="0c43878c-f1cd-40bf-a332-f68b28cec5b0" name="Default Changelist" comment=""